@page "/converter"

<PageTitle>Converter</PageTitle>
<p>Convert Inch to/from Centimeter</p>

Inches 
<input @bind="Inches" @bind:event="oninput" type="number">
 = 
 <input @bind="Centimeters" @bind:event="oninput" type="number"> 
 Centimeters

@code {
    private double _inches = 1;
    private double _centimeters = 2.54;
    public double Inches {
        get => _inches;
        set {
            _inches = value;
            _centimeters = value * 2.54;
        }
    }

    public double Centimeters {
        get => _centimeters;
        set {
            _inches = value / 2.54;
            _centimeters = value;
        }
    }
}