@page "/converter"
@rendermode InteractiveServer

<PageTitle>Converter</PageTitle>
<p>Convert Inch to/from Centimeter</p>

<label>Inches</label> 
<input @bind="Inches" @bind:event="oninput" type="number">
<span>=</span>
<input @bind="Centimeters" @bind:event="oninput" type="number"> 
<label>Centimeters</label>

@code {
    double _inches = 1; //default
    double _centimeters = 2.54; //default
    public double Inches {
        get => _inches;
        set 
        {
            _inches = value;
            _centimeters = value * 2.54;
        }
    }

    public double Centimeters {
        get => _centimeters;
        set 
        {
            _inches = value / 2.54;
            _centimeters = value;
        }
    }
}