@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr>
<br>

<p>Check for examples created as components bellow <br> Also your can find on left menu</p>

<h2>Component examples</h2>
<ul>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/forms">Basic inputs</a></li>
    <li><a href="/converter">Converter</a></li>
</ul>