@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br>

<h2>component examples</h2>
<ul>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/basic-form">Basic form inputs</a></li>
</ul>